/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-dark: #666666;
  --basic-neutral: #E5E5E5;
  --basic-light: #EEEEEE;
  --basic-extra-light: #F2F2F2;
  --basic-white: #FFFFFF;

  --special-blue: #81B3D2;
  --special-blue-hover: #669EC0;
  --special-blue-active: #5496BD;
  --special-brown: #766357;
  --special-brown-hover: #604E43;
  --special-brown-active: #503E33;
  --special-grey: #CACACA;
  --special-white: rgba(255, 255, 255, 0.3);
  --special-white-footer: rgba(255, 255, 255, 0.9);
  --special-white-hover:#EBEBEB;
  --special-white-active: #BDBBBC;
  --special-black: rgba(0, 0, 0, 0.3);
}

/* Global */

body {
  min-width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-body {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  background-color: var(--basic-extra-light);
}

/* Main navigation */

.main-navigation {
  display: flex;
  align-items: center;
  height: 55px;
}

.main-navigation a {
  line-height: 1.86;
  color: var(--basic-black);
  font-weight: 700;
  width: 25%;
  box-sizing: border-box;
}

.main-navigation a:nth-of-type(1),
.main-navigation a:nth-of-type(2) {
  text-align: left;
}

.main-navigation a:nth-of-type(3),
.main-navigation a:nth-of-type(4) {
  text-align: right;
}

.main-navigation a:nth-of-type(1) {
  padding-left: 73px;
}

.main-navigation a:nth-of-type(4) {
  padding-right: 73px;
}

.main-navigation a:hover {
  color: var(--special-blue);
}

.main-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-navigation .current-section {
  color: var(--special-brown);
}

/* Logo */

.main-header-logo {
  height: 60px;
  position: relative;
  top: -55px;
  margin-bottom: -55px;
}

/* Introduction */

.container-index {
  background-image: url("../img/welcome.png"), url("../img/shape.svg"), url("../img/mountains.jpg");
  background-position: center 77px, center 452px, center top;
  background-repeat: no-repeat;
  padding-top: 509px;
  margin-top: -74px;
}

.container-catalog {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: -74px;
}

.introduction {
  color: var(--basic-black);
  grid-column: 1 / -1;
  min-height: 215px;
}

.introduction h1 {
  font-size: 21px;
  line-height: 1.24;
  padding: 42px 365px 0;
  height: 80px;
  margin: 0;
}

.introduction p {
  font-size: 14px;
  line-height: 1.86;
  color: var(--basic-extra-dark);
}

/* Reasons & tips */

.description {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(4, auto);
}

.first-reason,
.second-reason {
  background-color: var(--special-blue);
  color: var(--basic-white);
  width: 400px;
}

.first-reason {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.first-reason h3 {
  padding: 26px 139px 8px;
}

.first-reason p:nth-of-type(2) {
  margin: 0;
  padding: 11px 40px 54px;
}

.picture-town {
  background-image: url("../img/town.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 700px;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.container-index h3 {
  font-size: 21px;
  line-height: 1;
}

.tips h3,
.other-reasons h3{
  color: var(--basic-black);
}

.tips {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  padding-top: 60px;
  padding-bottom: 66px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tip {
  background-repeat: no-repeat;
  background-position: center top;
  box-sizing: border-box;
  width: 400px;
}

.tip h3 {
  margin-top: 31px;
  margin-bottom: 27px;
}

.house {
  background-image: url("../img/house.svg");
  padding: 70px 73px 0;
}

.food {
  background-image: url("../img/food.svg");
  padding: 70px 51px 0;
}

.souvenirs {
  background-image: url("../img/souvenir.svg");
  padding: 75px 65px 0;
  margin-top: -5px;
}

.picture-bridge {
  background-image: url("../img/devils-bridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 256px;
  width: 800px;
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}

.second-reason {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.second-reason h3 {
  padding: 31px 125px 8px;
  }

.second-reason p:nth-of-type(2) {
  padding-top: 10px;
}

.other-reasons {
  grid-row: 4 / 5;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-light);
}

.other-reasons article {
  width: 33%;
  box-sizing: border-box;
}

.third-reason {
  padding: 0 80px;
}

.fourth-reason {
  padding: 0 65px;
}

.fifth-reason {
  padding: 0 70px;
}

.other-reasons .fifth-reason h3 {
  padding-left: 47px;
  padding-right: 50px;
}

.other-reasons h3 {
  padding: 28px 47px 0;
}

.other-reasons p:nth-of-type(1) {
  margin-top: 28px;
  margin-bottom: 23px;
}

.other-reasons {
  padding-bottom: 42px;
}

/* Hotel search */

.invitation h2 {
  font-size: 30px;
  line-height: 0.8;
  padding-top: 34px;
  padding-right: 7px;
}

.invitation p {
  line-height: 1.71;
  padding: 7px 382px 32px;
}

.button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.24;
  border: none;
  color: var(--basic-white);
}

.show-form-button {
  background-color: var(--special-brown);
  padding: 30px 125px;
  width: 568px;
}

.show-form-button:hover {
  background-color: var(--special-brown-hover);
}

.show-form-button:active {
  background-color: var(--special-brown-active);
  color: var(--special-white);
}

.hotel-search {
  font-weight: 700;
  text-align: left;
  line-height: 1.86;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  width: 100%;
  margin-top: -395px;
  height: 594px;
}

.hotel-search input {
  background-color: var(--basic-extra-light);
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.86;
}

.hotel-search-form {
  box-sizing: border-box;
  width: 568px;
  min-height: 395px;
  padding: 55px;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  z-index: 1;
}

.search-date,
.person-amount {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  height: 38px;
}

.form-first-column {
  width: 112px;
}

.form-second-column {
  padding-left: 55px;
  width: 68px;
}

.search-date input {
  box-sizing: border-box;
  padding: 6px 13px;
  width: 311px;
}

.search-date input:hover {
  background-color: var(--special-white-hover);
}

.search-date input:focus {
  background-color: var(--basic-neutral);
}

.person-amount input {
  box-sizing: border-box;
  padding: 0;
  line-height: 1.86;
  width: 38px;
  height: 38px;
  text-align: center;
}

.form-button {
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
}

.search-button {
  background-color: var(--special-blue);
  padding: 16px 182px;
  width: 458px;
  height: 58px;
  align-self: flex-end;
}

.search-button:hover {
  background-color: var(--special-blue-hover);
}

.search-button:active {
  background-color: var(--special-blue-active);
  color: var(--special-white);
}

/* Catalog */

/* Filters */

.filters {
  color: var(--basic-white);
  display: flex;
  height: 217px;
}

.filters fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filters legend {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  padding-top: 27px;
}

.filters .infrastructure {
  padding-left: 73px;
  text-align: left;
  min-width: 255px;
}

.infrastructure label,
.accommodation label {
  padding-top: 24px;
  padding-left: 40px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 24px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-white);
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.accommodation {
  margin-left: 26px;
  text-align: left;
}

.price {
  text-align: left;
  margin-right: 73px;
  margin-left: auto;
  width: 317px;
  height: 36px;
}

.price legend {
  margin-bottom: 11px;
}

.price-controls {
  border: 2px solid var(--basic-white);
  height: 33px;
  display: flex;
  align-items: center;
}

.price-controls label {
  height: 22px;
}

.price-controls input {
  background-color: transparent;
  border: none;
  color: var(--basic-white);
  width: 66px;
}

.min-price {
  margin-left: 65px;
  border-right: 2px solid var(--basic-white);
}

.max-price {
  margin-left: 50px;
}

.range-filter {
  display: flex;
  flex-direction: column;
}

.range-controls {
  position: relative;
  height: 20px;
  padding-top: 20px;
}

.range-controls .scale {
  height: 2px;
  background: var(--special-white);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 280px;
}

.filter-button {
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  border: 2px solid var(--basic-white);
  width: 137px;
  height: 36px;
  margin-left: 85px;
  margin-top: 13px;
}

.filter-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/* Sorting */

.sorting {
  font-size: 12px;
  color: var(--basic-black);
  margin-left: 73px;
  margin-right: 73px;
  display: flex;
  min-height: 86px;
  align-items: center;
  text-align: left;
}

.sorting-title {
  min-width: 115px;
}

.container-catalog h3 {
  font-size: 21px;
  line-height: 1.24;
  color: var(--basic-black);
  margin: 0;
}

.sorting .current-sorting {
  color: var(--special-blue);
  text-decoration: none;
}

.sorting a {
  color: var(--special-black);
  text-decoration: underline dotted var(--special-blue);
  justify-self: left;
  min-width: 80px;
}

.sorting a:hover {
  color: var(--special-blue);
  text-decoration: underline dotted var(--special-blue);
}

.sorting a:active {
  color: var(--basic-black);
  text-decoration: none;
}

.sorting path:hover {
  fill: var(--basic-black);
}

.sorting path:active {
  fill: var(--special-blue);
}

.found {
  min-width: 163px;
}

.amount {
  text-align: left;
}

.asc {
  fill: var(--special-grey);
  margin-left: auto;
}

.desc {
  fill: var(--special-grey);
  margin-left: 12px;
}

.current-sorting {
  fill: var(--special-blue);
}

/* Hotels */

.hotels {
  grid-row: 3 / 4;
}

.hotel {
  display: grid;
  grid-template-columns: 135px 30px 110px 5px 142px auto 110px;
  grid-template-rows: min-content 44px 27px;
  padding: 30px 73px 30px;
  border-bottom: 1px solid var(--basic-neutral);
}

.hotels {
  border-top: 1px solid var(--basic-neutral);
}

.hotel-name {
  grid-row: 1 / 2;
  grid-column: 3 / -2;
  justify-self: start;
}

.hotel-type {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  justify-self: left;
  margin: auto 0;
}

.hotel-price {
  grid-row: 2 / 3;
  grid-column: 5 / 6;
  justify-self: left;
  margin: auto 0;
}

.hotel-amara .image {
  background-image: url("../img/amara-resort-spa.jpg");
  background-repeat: no-repeat;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
}

.hotel-desert .image {
  background-image: url("../img/desert-quail-inn.jpg");
  background-repeat: no-repeat;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
}

.hotel-villas .image {
  background-image: url("../img/villas-at-poco-diablo.jpg");
  background-repeat: no-repeat;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
}

.hotels a {
  font-weight: 700;
  color: var(--basic-white);
}

.more {
  background-color: var(--special-blue);
  padding: 3px 16px;
  grid-row: -1 / -2;
  grid-column: 3 / 4;
  margin: auto;
  justify-self: start;
}

.more:hover {
  background-color: var(--special-blue-hover);
}

.more:active {
  background-color: var(--special-blue-active);
  color: var(--special-white);
}

.book {
  background-color: var(--special-brown);
  padding: 3px 16px;
  grid-row: -1 / -2;
  grid-column: 5 / 6;
  margin: auto 0;
}

.book:hover {
  background-color: var(--special-brown-hover);
}

.book:active {
  background-color: var(--special-brown-active);
  color: var(--special-white);
}

.stars {
  grid-column: -1 / -2;
  justify-self: end;
}

.rating {
  background-color: var(--basic-extra-light);
  color: var(--basic-dark);
  grid-column: -1 / -2;
  grid-row: -1 / -2;
  margin: auto 0;
  padding: 3px 12px 3px 15px;
}

.hotels h3:hover {
  color: var(--special-blue);
}

.hotels h3:active {
  color: var(--special-black);
}

/* Main footer */

.main-footer .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -120px;
  background-color: var(--special-white-footer);
  min-height: 120px;
}

.footer-contacts,
.footer-social,
.footer-copyright {
  width: 33%;
  box-sizing: border-box;
}

.catalog-footer .container {
  display: flex;
  align-items: center;
  background-color: var(--special-white-footer);
  min-height: 120px;
}

.footer-contacts {
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-black);
  line-height: 1.24;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-contacts div:first-child {
  margin-bottom: 11px;
}

.footer-contacts div:last-child {
  margin-bottom: 9px;
}

.footer-contacts a {
  color: var(--basic-black);
}

.footer-social {
  height: 48px;
  padding-left: 10px;
}

.footer-social a {
  width: 46px;
  height: 48px;
  padding: 0 1px;
}

.social-button rect:hover {
  fill: var(--special-blue-hover);
}

.social-button rect:active {
  fill: var(--special-blue-active);
}

.footer-copyright {
  line-height: 1.86;
  color: var(--basic-black);
  margin: 0 auto;
  padding-left: 60px;
  display: flex;
  align-items: center;
}

.footer-copyright span {
  margin: 8px;
}

.footer-copyright:hover {
  fill: var(--special-blue);
}

.footer-copyright:active {
  fill: var(--special-white-active);
}
